.main {
    /* border: 2px solid #000; */
    color: #fff;
    border-radius: 10px;
    width: 95%;
    margin: 30px auto;
}
.carrMain {
    margin: 0 0 30px;
}
.carrMain img {
    border: 2px solid var(--cor1);
    height: 200px;
}
.sectionMain {
    border: 2px solid var(--cor1);
    background-color: var(--cor7);
    border-radius: 10px;
    margin: 0 0 30px;
    padding: 10px;
}

/* (======================) */
.publicity {
    background-color: #fff;
}
.publicity img, .publicity2 img {
    border: 2px solid var(--cor1);
    height: 200px;
}
.none {
    display: block;
}

/* (======================) */
.publicity2 {
    background-color: var(--cor7);
}
.none2 {
    display: none;
}
.ad-left, .ad-right {
    width: 46%;
    margin: 0 10px;
}
.ad-left {
    float: left;
}
.ad-right {
    float: right;
}
hr {
    clear: both;
}

/* (======================) */
.sectionMain {
    padding: 30px;
}
.sectionMain > p {
    text-indent: 10px;
}
.text {
    /* margin: 30px 0; */
    clear: both;
}
.text p {
    text-align: justify;
    text-indent: 10px;
}
.text img {
    width: 100%;
}
@media screen and (min-width: 768px) {
    .main {
        /* border: 2px solid #000; */
        color: #fff;
        border-radius: 10px;
        width: 80%;
        margin: 30px auto;
    }
    .carrMain img {
        border: 2px solid var(--cor1);
        height: 400px;
    }
    .none {
        display: none;
    }
    .none2 {
        display: block;
    }
    .text img {
        width: 100%;
        height: 450px;
    }
}
