.main {
    /* border: 2px solid #000; */
    color: #fff;
    border-radius: 10px;
    width: 95%;
    margin: 30px auto;
}
.carrMain {
    margin: 0 0 30px;
}
.carrMain img {
    border: 2px solid var(--cor1);
    height: 200px;
}
.sectionMain {
    border: 2px solid var(--cor1);
    background-color: var(--cor7);
    border-radius: 10px;
    margin: 0 0 30px;
    padding: 10px;
}
.publicity {
    background-color: #fff;
}
.publicity img {
    border: 2px solid var(--cor1);
    width: 100%;
    height: 200px;
}
.sectionMain > p {
    text-indent: 10px;
}
.text {
    margin: 30px 0;
}
.text p {
    text-align: justify;
    text-indent: 10px;
}
