footer {
    background-color: var(--cor2);
    border-top: 3px solid var(--cor1);
    height: 100px;
    text-align: center;
}
.pessoal {
    color: #fff;
    background-color: var(--cor3);
    height: 70%;
    line-height: 65px;
}
.copy {
    color: #fff;
}
