body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('./body.jpg');
}
:root {
    --cor1: #1c3c6c;
    --cor2: #194b94;
    --cor3: #5436fb;
    --cor4: #44729c;
    --cor5: #646aad;
    --cor6: #6067fb;
    --cor7: #458ccc;
    --cor8: #0c858c;
    --cor9: #b4b4d0;
    --cor10: #83eef4;
}
